body {
  background-color: lightgrey;
}
body {
  background-color: white;
}

h1 {
  color:white;
  padding: 20px;
  background-color: paleturquoise;
text-align: center;
font-weight: bold;

}

h2 {
  text-align:center;
  
}

h4{
color: blue;
  margin: 0;
}

toelichting{
  text-align: center;
}