
  background-color: lightgrey;

}




h2 {
  text-align:center;
  
}

h4{
color: rgb(0, 38, 255);   ewa strijder
  margin: 0;
}

toelichting{
  text-align: center;
}

.welkom {
  color: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

nav {
  width: 400px;
}

a {
  color: white;
  display: block;
  padding: 15px;
  background-color: darkblue;
} 


h3 {
  color: white;
  padding: 20px;
  background-color: paleturquoise;
text-align: center;
font-weight: bold;
}

h1  {
  padding: 20px;
  background-color: paleturquoise;
  text-align: center;
  font-weight: bold;
  color: white;
}