body {
  background-color: white;
}

h1 {
  color:white;
  padding: 20px;
  background-color:blue;
text-align: center;
font-weight: bold;

}

h2 {
  text-align:center;
  
}

h3 {
  text-align: center;
}

